*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg, #153677, #4e085f);
    width: 100%;
    min-height: 100vh;
    padding: 5px;
}

#todo-list{
    width: 100%;
    max-width: 540px;
    background-color: white;
    margin: 100px auto 25px;
    padding: 50px 25px;
    border-radius: 15px;
}

#todo-list h1{
    color: #002765;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

#todo-list h1 img{
    width: 35px;
    margin-left: 10px;
}

#task-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #edeef0;
    border-radius: 25px;
    padding-left: 20px;
    margin-bottom: 25px;
}

#task-input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 16px;
}

#task-btn, .filter-btn{
    border: 2px solid #ff5945;
    outline: none;
    padding: 15px 35px;
    background-color: #ff5945;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
}

#filters{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filter-btn{
    padding: 10px 25px;
    width: 125px;
}

#task-btn:hover,
.filter-btn:hover {
    border: 2px solid #ff5945;
    outline: none;
    background-color: white;
    color: #ff5945;
    transition-duration: 0.5s;
}

#tasks-list{
    padding: 0 25px;
}

.task{
    list-style: none;
    font-size: 17px;
    padding: 15px 10px 15px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.task::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(Images/Unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

.task.checked{
    color: #505050;
    text-decoration: line-through;
}

.task.checked::before{
    background-image: url(Images/Checked.png);
}

.task span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #313131;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.task span:hover{
    background-color: #bebebe;
}